<div class="comments" id="<%= comment.id %>">
	<h6><%= comment.content %></h6>
	<small><%= link_to comment.user.user_name, user_path(comment.user) %> | <%= time_ago_in_words(comment.created_at) %>
		<% if current_user?(comment.user) %>
			| <%= link_to "", comment_path(comment), :method => :delete, data: { confirm: "You sure?" }, :class=>"icon-trash" %>
		<% end %>
	</small>
</div>

