<% @user = current_user %>
<div class="right">
	<div id="posts_stream">
		<div id="top"><h3>Recent Posts</h3></div>
			<% if @feed_items.any? %>
				<%= render partial: 'browse/feed_item', collection: @feed_items %>
				<a href="#top"><div id="bottom"><h3>Top</h3></div></a>
			<% else %>
				<blockquote class="posts">
					<p>Create a post and get out there and follow some people!</p>
				</blockquote>
				<a href="#top"><div id="bottom"><h3></h3></div></a>
			<% end %>
	</div>
</div>
<div class="left">
	<div id="user_info">
		<h4><%= link_to @user.user_name, user_path(@user) %></h4>
		<p><i><%= @user.first_name %> <%= @user.last_name %></i></p>
		<p><%= @user.microposts.count %> Posts | <%= render "users/follow_stats" %></p>
		<% if @user.user_bio %>
			<p><small><%= @user.user_bio %></small></p>
		<% end %>
		<%= render "microposts/micropost_form" %>
	</div>
</div>