div class="right">
	<div id="posts_stream">
		<blockquote class="posts">
			<h5>Poster, Post time</h5>
			<p>Post text</p>
			<h6>like, dislike, comment</h6>
		</blockquote>
	</div>
</div>
<div class="left">
	<div id="user_info">
			<h4><%= @user.user_name %></h4>
			<p><%= @user.first_name %> <%= @user.last_name %></p>
			<p>xx Posts | <%= render "users/follow_stats" %></p>
			<p><%= @user.user_bio %></p>
		</div>
	<div id="create_post">
		<h4>Create a Post</h4>
		<p>create post box</p>
		<p>create post button</p>
	</div>
	<div id="trends">
		<h4>Trends</h4>
		<ul>
			<li>list of trends</li>
		</ul>
	</div>
</div>