<div class="left">
	<div id="user_info">
		<h4><%= link_to @user.user_name, user_path(@user) %></h4>
		<p><%= @user.first_name %> <%= @user.last_name %></p>
		<p><%= @user.microposts.count %> Posts | <%= render "users/follow_stats" %></p>
	    <%= render 'users/follow_form' if signed_in? %>
		<p><%= @user.user_bio %></p>
	</div>
	<div id="create_post">
		<%= render 'micropost/micropost_form' %>
		<h4>Create a Post</h4>
		<p>create post box</p>
		<p>create post button</p>
	</div>
</div>