<%= render "browse/header" %>
<div class="body">
	<div class="right">
		<div id="my_posts">
			<h3>Search results for "<%= params[:search] %>"</h3>
				<% if @user.any?%>
					<% for user in @user %>
			    	<blockquote class="user">
			    		<div id="search_follow_form">
							<% if current_user != user %>
								<% if current_user.following?(user) %>
									<%= form_for(current_user.relationships.find_by(followed_id: user), html: { method: :delete }) do |f| %>
										<%= f.submit "Unfollow", class: "btn" %>
									<% end %>
								<% else %>
									<%= form_for(current_user.relationships.build(followed_id: user.id)) do |f| %>
										<div><%= f.hidden_field :followed_id %></div>
										<%= f.submit "Follow", class: "btn btn-primary" %>
									<% end %>
								<% end %>
							<% end %>
						</div>
			    		<p>
				    		<%= link_to user.user_name, user_path(user) %><br />
				    		<i><% if user.first_name %>
				    			<%= user.first_name %>
				    		<% end %>
				    		<% if user.last_name %>
				    			 <%= user.last_name %><br />
				    		<% end %></i>
							<% if user.user_bio %>
								<small><%= user.user_bio %></small>
							<% end %>
			    		</p>
			    	</blockquote>
			    	<% end %>
				<% else %>
					<p>Sorry! No results, try again.</p>
		    	<% end %>
		</div>
	</div>
	<div class="left">
	<div id="user_info">
		<h4><%= link_to current_user.user_name, user_path(current_user) %></h4>
		<p><i><%= current_user.first_name %> <%= current_user.last_name %></i></p>
		<p><%= current_user.microposts.count %> Posts | <%= link_to "#{current_user.followers.count} Followers", followers_user_path(current_user) %> | <%= link_to "#{current_user.followed_users.count} Followers", following_user_path(current_user) %></p>
			<% if current_user.user_bio %>
				<p><small><%= current_user.user_bio %></small></p>
			<% end %>
	</div>
</div>