<%= render "browse/header" %>
<div class="body">
	<div class="right">
		<div id="my_posts">
				<% for user in @user %>
		    	<blockquote class="my_posts">
		    		<p>
			    		<%= link_to user.user_name, user_path(user) %><br />
			    		<i><%= user.first_name %> <%= user.last_name %></i>
		    		</p>
		    	</blockquote>
		    	<% end %>
		</div>
	</div>
	<div class="left">
		<div id="search">
			<%= form_tag(users_path, :method => 'get', :class => "input-append") do %>
		    	<%= text_field_tag :search, params[:search], :class => "input-small appendedInputButton" %>
		    	<%= submit_tag "Search", :name => nil, :class => "btn" %>
			<% end %>
		</div>
		<div id="trends">
			<h4>Trends</h4>
			<ul>
				<li>list of trends</li>
			</ul>
		</div>
	</div>
</div>