<%= render "browse/header" %>
<% @user ||= current_user %>
<div class="body">
	<div class="right">
	<div id="my_posts">
		 	<h3><%= @title %></h3>
			<% if @users.any? %>
		    	<ul class="users">
		    		<%= render @users %>
		    	</ul>
			<% end %>
		</div>
	</div>
	<div class="left">
		<div id="user_info">
			<h4><%= @user.user_name %></h4>
			<p><%= @user.first_name %> <%= @user.last_name %></p>
			<p>xx Posts | <%= render "follow_stats" %></p>
		    <%= render 'follow_form' if signed_in? %>
			<p><%= @user.user_bio %></p>
		</div>
		<div id="create_post">
			<h4>Create a Post</h4>
			<p>create post box</p>
			<p>create post button</p>
		</div>
	</div>
</div>