<%= render "browse/header" %>
<div class="body">
	<div class="right">
	<div id="my_posts">
		 	<h3><%= @title %></h3>
			<% if @users.any? %>
				<blockquote class="posts">
				<% @users.each do |f| %>
		    		<p><%= link_to f.user_name, user_path(f) %><br /><i><%= f.first_name %> <%= f.last_name %></i></p>
		    		<small><i><%= f.user_bio %></i></small>
		    		<p><%= f.microposts.count %> Posts | <%= link_to "#{f.followers.count} Followers", followers_user_path(f) %> | <%= link_to "#{f.followed_users.count} Followers", following_user_path(f) %></p>
		    	<% end %>
		    	</blockquote>
		    <% else %>
		    	<p>Noone yet</p>
			<% end %>
		</div>
	</div>
	<div class="left">
		<div id="user_info">
			<h4><%= link_to @user.user_name, user_path(@user) %></h4>
			<p><i><%= @user.first_name %> <%= @user.last_name %></i></p>
			<p><%= @user.microposts.count %> Posts | <%= render "users/follow_stats" %></p>
		    <%= render 'users/follow_form' if signed_in? %>
			<small><%= @user.user_bio %></small>
		</div>
		<div id="trends">
			<h4>Trends</h4>
			<ul>
				<li>list of trends</li>
			</ul>
		</div>
	</div>
</div>