<blockquote class="posts" id="<%= feed_item.id %>">
	<h5><%= link_to feed_item.user.user_name, feed_item.user %></h5>
	<p><%= feed_item.content %></p>
	<h6><%= time_ago_in_words(feed_item.created_at) %>, <span class="icon-thumbs-up"> 0</span>, <span class="icon-thumbs-down"> 0</span>, Comment
		<% if current_user?(feed_item.user) %>
			, <%= link_to "", micropost_path(feed_item), :method => :delete, data: { confirm: "You sure?" }, :class=>"icon-trash" %>
		<% end %>
		<%= render partial: 'browse/feed_comment_item', collection: @feed_comment_items %>
		<%= render "comments/comment_form" %>
	</h6>
</blockquote>