<% if current_user %>
	<%= render "header" %>
	<div class="body">
		<%= render "users/home" %>
	</div>
<% else %>
	<%= render "header" %>
		<div class="hero-unit" >
			<div class="bodyhero">
	    		<%= image_tag("justsayin-logo-large.png") %>
	    	</div>
	    </div>
		<div class="body">
			<div class="row-fluid">
				<div class="span12">
				    <div class="row-fluid">
						<div class="span4">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non rhoncus mauris. Vivamus aliquam lectus eget adipiscing molestie. Sed auctor, sem id bibendum auctor, nibh ipsum hendrerit urna, vitae sollicitudin sem odio non sapien. Nunc et leo iaculis, egestas turpis eu, gravida quam. Proin eu nibh magna. Phasellus malesuada tortor nec lectus lobortis porta. In nisl lacus, elementum vel nibh a, vulputate blandit risus. In hac habitasse platea dictumst. Curabitur gravida ligula leo, quis ornare justo pulvinar ut. Nunc egestas ligula ut nisl commodo, ac malesuada sapien imperdiet. Etiam pellentesque quam erat, a lobortis enim fermentum ut. Cras dignissim rutrum leo, a accumsan nulla.
						</div>
						<div class="span4">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non rhoncus mauris. Vivamus aliquam lectus eget adipiscing molestie. Sed auctor, sem id bibendum auctor, nibh ipsum hendrerit urna, vitae sollicitudin sem odio non sapien. Nunc et leo iaculis, egestas turpis eu, gravida quam. Proin eu nibh magna. Phasellus malesuada tortor nec lectus lobortis porta. In nisl lacus, elementum vel nibh a, vulputate blandit risus. In hac habitasse platea dictumst. Curabitur gravida ligula leo, quis ornare justo pulvinar ut. Nunc egestas ligula ut nisl commodo, ac malesuada sapien imperdiet. Etiam pellentesque quam erat, a lobortis enim fermentum ut. Cras dignissim rutrum leo, a accumsan nulla.
						</div>
						<div class="span4">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non rhoncus mauris. Vivamus aliquam lectus eget adipiscing molestie. Sed auctor, sem id bibendum auctor, nibh ipsum hendrerit urna, vitae sollicitudin sem odio non sapien. Nunc et leo iaculis, egestas turpis eu, gravida quam. Proin eu nibh magna. Phasellus malesuada tortor nec lectus lobortis porta. In nisl lacus, elementum vel nibh a, vulputate blandit risus. In hac habitasse platea dictumst. Curabitur gravida ligula leo, quis ornare justo pulvinar ut. Nunc egestas ligula ut nisl commodo, ac malesuada sapien imperdiet. Etiam pellentesque quam erat, a lobortis enim fermentum ut. Cras dignissim rutrum leo, a accumsan nulla.
						</div>
				    </div>
				</div>
			</div>
		</div>
	<%= render "footer" %>
<% end %>