<% if current_user %>
	<%= render "header" %>
	<div class="body">
		<%= render "users/home" %>
	</div>
<% else %>
	<%= render "header" %>
		<div class="hero-unit" >
			<div class="bodyhero">
	    		<%= image_tag("justsayin-logo-large.png", :alt => "JustSayin Logo") %>
	    	</div>
	    </div>
		<div class="body">
			<div class="row-fluid">
				<div class="span12">
				    <div class="row-fluid">
						<div class="span4">
							<p class="homeh1"><h1>Create</h1></p>
							<p class="homeh1"><h1>Share</h1></p>
							<p class="homeh1"><h1>Trend</h1></p>
						</div>
						<div class="span4">
						</div>
						<div class="span4">
							<% @user = User.new %>
							<%= form_for(@user) do |f| %>
							    <% if @user.errors.any? %>
							      <div id="error_explanation">
							        <h3>Oops! <%= pluralize(@user.errors.count, "Error") %> in Creating Your Account:</h3>
							        <ul>
							            <% @user.errors.each do |msg| %>
							              <li><%= msg %></li>
							            <% end %>
							        </ul>
							      </div>
							    <% end %>
							    <h3>Sign Up</h3>
							    <p><%= f.text_field :user_name, :placeholder => "User Name" %></p>
							    <p><%= f.text_field :email, :placeholder => "Email" %></p>
							    <p><%= f.password_field :password, :placeholder => "Password" %></p>
							    <p><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %><br /></p>
							    <p><%= f.submit "Create my account", class: "btn btn-large btn-primary" %></p>
							<% end %>
						</div>
				    </div>
				</div>
			</div>
		</div>
	<%= render "footer" %>
<% end %>